@media screen and (max-width: 992px) {
  nav .nav-item {
    padding: 0 10px;
  }

  nav .navbar-brand {
    margin-right: 40px;
  }
  .banner {
    height: 600px;
    /* padding-top: 0px;
    margin-top: -150px; */
    padding-top: 80px;
  }
  .banner>div {
    background-size: auto 55vw;
  }
  .banner>div {
    background-size: auto 350px;
    background-position: center 135%;
  }

  .banner button {
    margin: auto;
    display: block;
  }

  .banner h2,
  .banner p {
    margin: auto;
    max-width: 572px;
    text-align: center;
  }
.banner h2{
  font-size: 24px;
  line-height: 30px;

}
.banner p{
  font-size: 16px;
  line-height: 24px;
}

  .Statistics .all-p,
  .Statistics .all-h {
    text-align: left !important;
  }
}

@media screen and (max-width: 768px) {
  nav .navbar-brand h5 {
    font-size: 13px;
  }

  .nav {
    background: #ffffff;
  }

  nav .navbar-brand h5 {
    color: #232323;
  }

  nav .nav-link {
    color: #30373A !important;
    font-size: 16px;
  }

  .banner {
    height: 600px;
    padding-top: 100px;
    margin-top: 0px;
  }




  .giveaway img {
    margin-top: 60px;
  }


.giveaway .all-h{
  font-size: 18px;
  line-height: 27px;
}
.giveaway .all-p{
  font-size: 16px;
  line-height: 24px;
}
.givaway-hopper .all-h{
  font-size: 24px;

}
.givaway-hopper h5{
  font-size: 18px;
  line-height: 27px;
}
.givaway-hopper .all-p{
  font-size: 16px;
  line-height: 24px;
}
.givaway-hopper .img{
  margin-top: 0;
}
  .Statistics .item {
    width: 108px;
    height: 108px;
    background: #FEFEFE 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #0000001A;
    border-radius: 4px;
    margin: 14px 14px;
    padding: 18px 0px;
    display: inline-block;
  }

  .Statistics .all-h {
    font-size: 20px;
    line-height: 30px;
  }

  .Statistics .all-p,
  .Statistics .all-h {
    text-align: center !important;
  }

  .Statistics .row>div:nth-child(2n+1) {
    text-align: right;
  }

  .Statistics .row>div:nth-child(2n) {
    text-align: left;
  }
.choose-giveaway .all-h{
  font-size: 24px;
  line-height: 30px;
}
.choose-giveaway h5{
  font-size: 18px;
  line-height: 27px;
}
.all-p{
  font-size: 16px;
  line-height: 24px;
}
.choose-giveaway ul li .all-p{
  font-weight: 300;
}
  footer hr {
    background: #00000033;
    margin: 0 -30px;
  }

  footer p {
    text-align: center !important;
  }
  footer{
    padding-bottom: 0;
  }
}

@media screen and (max-width:576px) {
  .banner {
    height: 630px;
    padding-top: 45px;
  }

  .banner>div {
    background-size: auto 415px;
    background-position: center 142%;
  }

  .banner h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .giveaway .all-h,
  .giveaway .all-p {
    text-align: center;
  }
  .all-p {
    font-size: 16px;
  }

  .choose-giveaway .row>div>img {
    margin: 15px auto;
    display: block;
  }

  .choose-giveaway {
    text-align: center !important;
  }
}



@media screen and  (min-width:768px) {
  .nav {
    background-color: #252A25;
  }
  nav .navbar-brand h5{
    color: #FEFEFE;
    font-size: 20px;
font-weight: 500;
  }
  nav .nav-link {
    font-size: 18px;
    line-height: 21px;
    color: #FEFEFE !important;
  }
  .Statistics .item{
    box-shadow: none;
    width: auto;
    height: auto;
    background: transparent;
  }
  .Statistics .all-p, .Statistics .all-h{
    text-align: left !important;
  }
  .givaway-hopper .all-h,
  .Statistics .all-h{
    font-size: 24px;
    line-height: 30px;
  }
  footer .collapse {
    display: block;
  }
  footer>div>hr{
        margin: 40px 0;
  }
}

@media screen and  (min-width:992px) {
  .banner{
    height: 707px;
    padding-top: 0;
  }
.banner>div{
  display: flex;
  align-items: center;
}
.banner p,
.banner h2{
  text-align: left;

}
.banner h2{
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}
.banner p{
  font-size: 18px;
}
.banner .row{
  width: 100%;
}
.banner button{
  margin-left: 0;
}
.banner>div {
    background-image: url(../images/png_widget.png);
    background-repeat: no-repeat;
    background-size: 399px auto;
    background-position: right center;

}
.Statistics .all-p{
  text-align: center !important;
}
.givaway-hopper .all-h,
.Statistics .all-h{
  font-size: 32px;
  line-height: 40px;
  text-align: center !important;
}
}

@media screen and  (min-width:767px) and (max-width:992px) {}
