@media screen and (max-width: 992px) {
  nav .nav-item {
    padding: 0 10px;
  }

  nav .navbar-brand {
    margin-right: 40px;
  }
  .banner {
    height: 600px;
    /* padding-top: 0px;
    margin-top: -150px; */
    padding-top: 80px;
  }
  .banner>div {
    background-size: auto 55vw;
  }
  .banner>div {
    background-size: auto 350px;
    background-position: center 135%;
  }

  .banner button {
    margin: auto;
    display: block;
  }

  .banner h2,
  .banner p {
    margin: auto;
    max-width: 572px;
    text-align: center;
  }
.banner h2{
  font-size: 24px;
  line-height: 30px;

}
.banner p{
  font-size: 16px;
  line-height: 24px;
}

  .Statistics .all-p,
  .Statistics .all-h {
    text-align: left !important;
  }
}

@media screen and (max-width: 768px) {
  nav .navbar-brand h5 {
    font-size: 13px;
  }

  .nav {
    background: #ffffff;
  }

  .navbar-brand h5 {
    color: #232323;
  }

  nav .nav-link {
    color: #30373A !important;
    font-size: 16px;
  }

  .banner {
    height: 600px;
    padding-top: 100px;
    margin-top: 0px;
  }




  .giveaway img {
    margin-top: 60px;
  }


.giveaway .all-h{
  font-size: 24px;
  line-height: 30px;
}
.giveaway .all-p{
  font-size: 16px;
  line-height: 24px;
}
.givaway-hopper .all-h{
  font-size: 24px;

}
.givaway-hopper h5{
  font-size: 18px;
  line-height: 27px;
}
.givaway-hopper .default-t{
  font-size: 16px;
  line-height: 24px;
}
.givaway-hopper .img{
  margin-top: 0;
}
  .Statistics .item {
    width: 108px;
    height: 108px;
    background: #FEFEFE 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #0000001A;
    border-radius: 4px;
    margin: 14px 14px;
    padding: 18px 0px;
    display: inline-block;
  }

  .Statistics .all-h {
    font-size: 20px;
    line-height: 30px;
  }

  .Statistics .all-p,
  .Statistics .all-h {
    text-align: center !important;
  }

  .Statistics .row>div:nth-child(2n+1) {
    text-align: right;
  }

  .Statistics .row>div:nth-child(2n) {
    text-align: left;
  }
.choose-giveaway .all-h{
  font-size: 24px;
  line-height: 30px;
}
/* .choose-giveaway h5{
  font-size: 18px;
  line-height: 27px;
} */
.all-p{
  font-size: 16px;
  line-height: 24px;
}
.choose-giveaway ul li .all-p{
  font-weight: 300;
}
  footer hr {
    background: #00000033;
    margin: 0 -30px;
  }

  footer p {
    text-align: center !important;
  }
  footer{
    padding-bottom: 0;
  }
  .activity-table{
    margin-top: 48px;
  }
  .activity-table tr a,
  .activity-table td{
    font-size: 16px;
  }
  .activity-table tr {
    padding: 0 10px;
  }
  .activity-table tr td{
    display: table-row;
    line-height: 31px;
    height: 31px;
    border-left: 10px solid #F1F5F9;
    text-align: left;
  }
  .activity-table tr:nth-of-type(odd) td{
    border-left-color: white;
  }
  .activity-table tr td:nth-of-type(2),
  .activity-table tr td:nth-of-type(3),
.activity-table thead{
  display: none;
}
.activity-table .share{
  display: block;
}

}

@media screen and (max-width:576px) {
  .banner {
    height: 630px;
    padding-top: 45px;
  }

  .banner>div {
    background-size: auto 415px;
    background-position: center 142%;
  }

  .banner h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .giveaway .all-h,
  .giveaway .all-p {
    text-align: center;
  }
  .all-p {
    font-size: 16px;
  }

  .choose-giveaway .row>div>img {
    margin: 15px auto;
    display: block;
  }

  .choose-giveaway {
    text-align: center !important;
  }
}



@media screen and  (min-width:768px) {
  .title{
    font-size: 24px;
    line-height: 32px;
  }

  .nav {
    background-color: #252A25;
  }
  nav .navbar-brand h5{
    color: #FEFEFE;
    font-size: 20px;
font-weight: 500;
  }
  nav .nav-link {
    font-size: 18px;
    line-height: 21px;
    color: #FEFEFE !important;
  }
  .Statistics .item{
    box-shadow: none;
    width: auto;
    height: auto;
    background: transparent;
  }
  .Statistics .all-p, .Statistics .all-h{
    text-align: left !important;
  }
  .givaway-hopper .all-h,
  .Statistics .all-h{
    font-size: 24px;
    line-height: 30px;
  }
  .Statistics .row>div{
    text-align: center !important;
  }
  .banner {
    height: 600px;
    padding-top: 80px;
}
  footer .collapse {
    display: block;
  }
  footer>div>hr{
        margin: 40px 0;
  }

  .all-p{
    font-size: 18px;
  }
  .faq{

    /* background: #F9F9F9; */
  }
  .pricing-plan-mob .pricing-item{
    margin: 10px 0;
  }
  .faq .card{
  background: transparent;
  box-shadow: 0px 3px 6px #00000029;

  }
  .faq .card{
    margin-bottom: 14px;
  }
  .faq .card-header button{
    padding: 0 21px;
    font-weight: 300;
  }
  .faq .card-body{
    padding: 25px;
  }
  .faq .card-header button::after{
    color: #232323;
  }
  .faq>div{
    padding-left: 0 !important;
    padding-right: 0!important;
  }

  .login-form form{
    max-width: 523px;
  }
  .login-footer p span{
    font-size: 20px;
    line-height: 22px;
  }
  .login-footer p{
    line-height: 22px;
  }
  .login-footer img{
    height: 22px;
  }
  .login-footer{
    /* padding-bottom: 30px; */
  }
  .notifications-table table td{
  font-size: 18px;
  }
  .notifications-table table tbody tr td{
    padding: 0 34px;
  }
  .notifications-table table thead{
    display: table-header-group;
  }
}

@media screen and  (min-width:992px) {
  .title{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
  }
  .sub-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

  .default-t{
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
  }
  .banner{
    height: 707px;
    padding-top: 0;
  }
.banner>div{
  display: flex;
  align-items: center;
}
.banner p,
.banner h2{
  text-align: left;

}
.banner h2{
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}
.banner p{
  font-size: 18px;
}
.banner .row{
  width: 100%;
}
.banner button{
  margin-left: 0;
}
.banner>div {
    background-image: url(../images/png_widget.png);
    background-repeat: no-repeat;
    background-size: 399px auto;
    background-position: right center;

}
.Statistics .all-p{
  text-align: center !important;
}
.givaway-hopper .all-h,
.Statistics .all-h{
  font-size: 32px;
  line-height: 40px;
  text-align: center !important;
}
.pricing-plan-des ul li{
  font-size: 16px;
  line-height: 24px;
}
.pricing-plan-mob .pricing-item{
  margin: 15px 0;
}
footer a {
  font-size: 18px;
  line-height: 27px;
}
.dashboard-form form{
  max-width: 523px !important;
}
.dashboard-form input {
    border: 0;
    border-bottom: 1px solid #959595;
    line-height: 22px;
    padding: 3px 0;
    border-radius: 0;

}
#dashboard-nav-tabs.show-tabs{

}

}

@media screen and  (min-width:767px) and (max-width:992px) {
  .pricing-plan-des .all-h{
    font-size: 24px;
    margin-bottom: 5px
  }
  .pricing-plan-des .row>div{
    padding-left: 10px;
    padding-right: 10px;
  }
}


@media screen and (max-width:576px) {
  .tab-plan .row img{
    width: 100%;
  }
  .tab-plan .row .imgg{
    max-width: 137px;
    min-width: 137px;
    display: flex;
    align-items: center;
  }
  .tab-plan .row .detail{
    /* max-width: 100%;
    min-width: 100%; */
    width: calc(100% - 137px);
  }
  .tab-plan p,
  .tab-plan p span{
  color: #30373A !important;
}
.tab-plan p span.sub-title{
  font-size: 24px;
}
.tab-plan .btns>div{
  padding-bottom: 0 !important;
  padding-top: 40px !important;
}
}


@media screen and (max-width:767px){
  .dashboard-dropdown .dropdown-menu{
    background: #252A25 !important;
    box-shadow: none;
  }
  .dashboard-dropdown .dropdown-item svg{
    fill: #FEFEFE;
  }
  .dashboard-dropdown .dropdown-item{
    color: #FEFEFE !important;
  }
.dashboard-dropdown .dropdown-item svg,
  .dashboard-dropdown .dropdown-toggle img{
    display: none;
  }
  .dashboard-dropdown .dropdown-menu{
    transform: translateX(20px);
  }
  #dashboard-nav-tabs.show-tabs{
    display: flex !important;
    position: absolute;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%,-4px);
    margin:0;
    /* width: 80%; */
    background: white;
    z-index: 10;
    width: 302px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  }
  #dashboard-nav-tabs.show-tabs .nav-item{
    background: white;
  }

  .notifications-table .sub-title{
    font-weight: 600;
  }
  .notifications-table table th:nth-of-type(2),
  .notifications-table table td:nth-of-type(2){
    width: 60px;
  }
  .notifications-table table:nth-last-of-type(1) tr{
    /* background: #F1F5F9 0% 0% no-repeat padding-box; */
  }
  .prizes-list .prize-item h4{
    font-weight: 400;
  }
  .dashboard .nav-tabs .nav-item.show .nav-link,
  .dashboard .nav-tabs .nav-link.active{
    font-weight: 300;
  }
  .dashboard .nav-tabs .nav-link.show img:nth-of-type(1){
    display: block;
  }
  .dashboard .nav-tabs .nav-link.show img:nth-of-type(2){
    display: none;
  }
  .dashboard-dropdown .dropdown-item.active,
  .dashboard-dropdown .dropdown-item:active,
  .dashboard-dropdown .dropdown-item:focus{

    color: #FEFEFE !important;
  }
  .dashboard header{
    padding-bottom: 10px;
  }
  .dashboard-nav-btn{
    margin-bottom: 10px;
  }
  .form-control[disabled], .form-control[readonly], .login-form input{
    font-size: 16px;
  }
  .prize-item{
    min-height: 304px;
  }
}
