* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
}

body {
  min-width: 360px;
}

a, a:hover, a:active, a:visited, a:focus,
select, select:hover, select:active, select:visited, select:focus,
textarea, textarea:hover, textarea:active, textarea:visited, textarea:focus,
input, input:hover, input:active, input:visited, input:focus,
button, button:hover, button:active, button:visited, button:focus {
  text-decoration: none !important;
  outline: none !important;
}
a:hover{
  text-decoration: underline !important;
}
.w-f3,
.w-f2,
.w-f{
  padding-left: 26px !important;
  padding-right: 26px;
  margin: auto;
}

.w-f>* {
  max-width: 1088px;
  margin: auto;
}
.w-f2>*{
  max-width: 1300px;
  margin: auto;
}
.w-f3>*{
  max-width: 840px;
  margin: auto;
}
.g-btn {
  background: transparent linear-gradient(180deg, #68DB7C 0%, #4B9B51 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 172px;
  height: 34px;
  letter-spacing: 0px;
  color: #FEFEFE !important;
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
  padding-left: 20px;
padding-right: 20px;
  border: 0;
  cursor: pointer;
  transition: background 0.5s linear !important;
}

.g-btn:hover {
  background: transparent linear-gradient(180deg, #4B9B51 0%, #68DB7C 100%) 0% 0% no-repeat padding-box;
  transition: background 0.5s linear !important;
}
.title{
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: #232323;
}
.sub-title{
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  color: #232323;
}
.default-t{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #232323;
}
.all-h {
  color: #444445;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 0;
}

.all-p {
  color: #232323;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 0;
}

.all-p span {
  font-weight: 500;
}

.top-nav {
  background: #5FBD66 0% 0% no-repeat padding-box;
  color: white;
    padding: 7px 0 3px 0;
}

.top-nav p {
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  margin: 0;

}

.nav {
  background-color: #252A25;
  /* min-height: 68px; */
  padding: 7px 0;
}

nav {}

nav .navbar-brand {
  margin-right: 50px;
}

nav .navbar-brand img {
  width: 17px;
}

nav .navbar-brand h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #FEFEFE;
  margin-left: 10px;
  margin-bottom: 0;
}

nav .nav-item {
  padding: 0 22px;
}

nav .nav-link {
  letter-spacing: 0px;
  color: #FEFEFE !important;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: left;
}

nav .nav-item .nav-link.active {}

nav .nav-item .nav-link:hover {}

.dropdown-toggle::after {
  position: relative;
  top: 3px;
}

nav .navbar-toggler i {
  color: #232323;
}

nav .navbar-toggler h1 {
  color: #232323;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-right: 16px;
  margin-bottom: 0;
}
.banner .row{
  margin: 0;
}
.banner {
  height: 707px;
}

.banner>div {
  background-image: url('../images/png_widget.png');
  background-repeat: no-repeat;
  background-size: 399px auto;
  background-position: right center;
}

.banner h2 {
  color: #232323;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 18px !important;
  /* margin-bottom: 0; */
}

.banner h2 span {
  color: #5FBD66;
}

.banner p {
  color: #232323;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 18px !important;
}

.giveaway {
  background: #F6F6F6;
  padding-top: 70px;
  padding-bottom: 75px;
}

.giveaway .all-h,
.giveaway .all-p {
  text-align: left;
}

.givaway-hopper {
  padding-top: 75px;
  padding-bottom: 65px;
}

.givaway-hopper {
  background: #252A25;
}

.givaway-hopper h2 {
  color: #FEFEFE !important;
}

.givaway-hopper .img {
  height: 164px;
  width: 100%;
  position: relative;
  margin-top: 40px;
}

.givaway-hopper .img img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

.givaway-hopper h5 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 10px;
}

.givaway-hopper p {
  color: #FFFFFF !important;
}

.givaway-hopper a {}

.Statistics {
  background: #F6F6F6 0% 0% no-repeat padding-box;
  padding-top: 35px;
  padding-bottom: 70px;
}

.Statistics .all-h {
  font-size: 27px;
  text-align: center;
}

.Statistics .all-p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}
.Statistics .item .all-p,
.Statistics .item .all-h{
  text-align: center !important;
}
.Statistics .img {
  width: 100%;
  height: 60px;
  position: relative;
}

.Statistics .img img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.Statistics .img-2 {
  margin: auto;
  text-align: center;
}

.Statistics .item {
  /* margin-top: 35px; */
}

.choose-giveaway {
  padding-top: 35px;
  padding-bottom: 70px;
}

.choose-giveaway h2 {
  /* margin-top: 35px; */
  margin-bottom: 80px;
}

.choose-giveaway h5 {
  margin-bottom: 20px;
  /* font-size: 24px; */
}

.choose-giveaway ul {
  margin-top: 20px;
  text-align: left;
}

.choose-giveaway ul li {
  list-style: none;
  padding-left: 10px;
}

.choose-giveaway ul li a img {
  padding-right: 10px;
}

.choose-giveaway ul li .all-p {
  font-size: 16px;
  font-weight: 500;
}

.choose-giveaway a.btn.default-t {
  background: #FEFEFE 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000026;
}

.choose-giveaway hr {
  margin: 60px auto;
  /* padding: 0 20px; */
  height: 1px;
  border: 0;
  background: #00000036;
}

.choose-giveaway .row>div>img {
  margin: 14px;
}

footer {
  padding-bottom: 60px;
}

footer hr {
  background: #DBD8D8;
  border: 0;
  height: 1px;
  margin: 40px 0;
}

footer a {
  color: #232323;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
}

footer img {
  width: 45px;
}

footer .all-p {
  font-size: 16px;
  margin-top: 14px;
}

footer button {
  margin: 0 !important;
  height: 50px;
  width: 100%;
  text-align: left;
}

footer p {
  text-align: right !important;
  margin-bottom: 15px !important;
}

footer button.all-p i {
  margin-left: 8px;
  font-size: 12px;
}




/* pricing page */
.pricing-page .title{
  color: #444445;
}
.pricing-page .sub-title{
  color: #232323;
}
.pricing-page .default-t{
  color: #232323;
}
.pricing-plan-mob {
  padding-top: 48px;
}
.pricing-plan-mob .mob-pricing-slider{
  margin-top: 48px;
}
.pricing-plan-mob .pricing-item{
  border: 2px solid #5CB863;
  width: 300px !important;
  padding: 35px 24px 24px 24px;
  /* border-top: 9px solid #5CB863; */
  margin: 12px;
  box-shadow: 0px 3px 6px #00000029;
  position: relative;
}
.pricing-plan-mob .pricing-item .b-top{
  position: absolute;
  height: 7px;
  width: calc(100% + 4px);
  left: -2px;
  top: 0;
  transform: translate(0,calc(-100% - 1px));
}
.pricing-plan-mob h2 .title{
  font-size: 24px !important;
  font-weight: 600;
color: #30373A;
}
.pricing-plan-mob .pricing-item img{
  margin: auto;
  display: block;
  margin-bottom: 40px;
  height: 96px;
}
.pricing-plan-mob .pricing-item h2{
  margin-top: 28px;
}
.text-24,
.text-18{
  font-size: 18px;
  line-height: 27px;
font-weight: 500;
color: #232323;
}
.text-24{
  font-size: 24px;
  line-height: 30px;
}
.text-20{
  font-size: 20px;
  line-height: 30px;
font-weight: 500;color: #232323;
}
.text-35{
  font-size: 35px;
  line-height: 53px;
font-weight: 500;
}
.pricing-btn{
  background: #FEFEFE;
  box-shadow: 0px 3px 6px #00000029;
  height: 40px;
  border: 0;
  padding: 0 22px;
  color: #FEFEFE !important;
  font-size: 16px;
  line-height: 40px;
  cursor: pointer;
  font-weight: 500;
  display: inline-block;
}
.pricing-plan-mob .pricing-item .pricing-btn{
  margin-top: 32px;
}
.pricing-plan-mob .pricing-item hr{
  width: 100%;
  padding: 0;
  height: 1px;
  background: #70707020;
  margin: 30px  auto 13px auto;
}
.pricing-plan-mob .all-p{
  color: #30373A;
}
.slick-arrow i{
  font-size: 18px;
  font-weight: 900;
  color: #232323;
}
.slick-track{
  margin-bottom: 15px;
}
.slick-prev.slick-arrow{
  position: absolute;
    left: calc(50% - 80px);
    bottom: -35px;
    top: auto;
    cursor: pointer;
    z-index: 1;
}
.slick-next.slick-arrow{
  position: absolute;
    left: calc(50% + 71px);
    bottom: -35px;
    top: auto;
    cursor: pointer;
    z-index: 10;
}
.slick-prev:before, .slick-next:before{
  font-size: 0;
}
 .pricing-plan-des .pricing-item img{
   margin-top: 60px;
   margin-bottom: 50px;
 }
  .pricing-plan-mob .pricing-item.free{
border-color: rgb(35, 35, 35);
  }
 .pricing-plan-mob .pricing-item.grow{
   border-color: #5BB9F9
 }
 .pricing-plan-mob .pricing-item.professional{
   border-color: #5CB863
 }
 .pricing-plan-mob .pricing-item.bussiness{
   border-color: #A243D6
 }
  .pricing-plan-des .pricing-item hr{
    height: 0.1px;
    margin-bottom: 25px;
  }
 .pricing-plan-des .pricing-item.grow hr{
   background: #5BB9F9;
 }
 .pricing-plan-des .pricing-item.professional hr{
    background: #5CB863;
 }
 .pricing-plan-des .pricing-item.bussiness hr{
   background: #A243D6
 }
 .pricing-plan-mob .pricing-item.free .b-top{
   background: transparent linear-gradient(
   180deg, #6B6B6B 0%, #232323 100%) 0% 0% no-repeat padding-box;
 }
 .pricing-plan-mob .pricing-item.grow .b-top{
   background: transparent linear-gradient(180deg, #97D0F6 0%, #5BB9F9 100%) 0% 0% no-repeat padding-box;
 }
 .pricing-plan-des .pricing-item.professional .b-top{
      height: 36px;
 }
 .pricing-plan-mob .pricing-item.professional .b-top{

background: transparent linear-gradient(180deg, #46E862 0%, #39C244 100%) 0% 0% no-repeat padding-box;
/* background: transparent linear-gradient(180deg, #75F27E 0%, #64CB6B 100%) 0% 0% no-repeat padding-box; */
 }
 .pricing-plan-des .pricing-item.professional .b-top p{
   font-size: 16px;
   line-height: 36px;
   font-weight: 500;
   color: #FEFEFE;
 }
 .pricing-plan-mob .pricing-item.bussiness .b-top{
background: transparent linear-gradient(180deg, #CD72FF 0%, #A243D6 100%) 0% 0% no-repeat padding-box;
 }
.pricing-plan-mob .pricing-item.free .pricing-btn{
  color: #232323 !important;
}
 .pricing-plan-mob .pricing-item.grow .pricing-btn{
   background: transparent linear-gradient(180deg, #85CCFC 0%, #52AAE6 100%) 0% 0% no-repeat padding-box;
 }
 .pricing-plan-mob .pricing-item.professional .pricing-btn{
/* background: transparent linear-gradient(180deg, #46E862 0%, #39C244 100%) 0% 0% no-repeat padding-box; */
background: transparent linear-gradient(180deg, #75F27E 0%, #64CB6B 100%) 0% 0% no-repeat padding-box;
 }
 .pricing-plan-mob .pricing-item.bussiness .pricing-btn{
background: transparent linear-gradient(180deg, #BB5FEE 0%, #9A42CB 100%) 0% 0% no-repeat padding-box;
 }
 .pricing-plan-mob .pricing-item.free h1{
   color: rgb(35, 35, 35);;
 }
 .pricing-plan-mob .pricing-item.grow h1,
 .pricing-plan-des .pricing-item.grow p.default-t,
 .pricing-plan-des .pricing-item.grow h2 span{
    color: #5BB9F9;
 }

 .pricing-plan-mob .pricing-item.professional h1,
 .pricing-plan-des .pricing-item.professional p.default-t,
 .pricing-plan-des .pricing-item.professional h2 span{
    color: #5CB863;
 }

 .pricing-plan-mob .pricing-item.bussiness h1,
 .pricing-plan-des .pricing-item.bussiness p.default-t,
 .pricing-plan-des .pricing-item.bussiness h2 span{
    color: #A243D6;
 }
.pricing-plan-des .pricing-item{
  width: 100% !important;
  box-shadow: none;

}
.pricing-plan-des .row{
  margin-top: 100px;
}
.pricing-plan-mob .pricing-item h1{
  font-weight: 600;
}

.pricing-plan-des ul{
margin-top: 40px;
}
.pricing-plan-des ul li{
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  color: #444445;
  font-weight: 500;
  margin-bottom: 16px;
  position: relative;
  padding-left: 23px;
}
.pricing-plan-des ul li::before{
  content: "";
  position: absolute;
  display: block;
  width: 11px;
  height: 11px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

}
.pricing-plan-des .grow ul li::before{
background-image: url(../images/pricing/check-grow.png);
}
.pricing-plan-des .professional ul li::before{
background-image: url(../images/pricing/check-professional.png);
}
.pricing-plan-des .bussiness ul li::before{
background-image: url(../images/pricing/check-bussiness.png);
}
.pricing-plan-des ul li.cross::before{
  background-image: url(../images/pricing/cross.png);
}
.pricing-plan-des ul li.cross{
  color: #959595;
}


.pricing-plan-des .pricing-item.free{
  border: 1px solid #D6D6D6;
  padding: 24px;
}

.pricing-plan-des .pricing-item.free .text-18{
  font-weight: 100;
  margin: 0 !important;
}
.pricing-plan-des .pricing-item.free h1{
  font-weight: 900 !important;
}
.pricing-plan-des .pricing-item.free ul li{
  margin: 0;
  font-weight: 100;
  font-size: 18px;
  line-height: 27px;
}
.pricing-plan-des .pricing-item.free ul li::before{
  background-image: url(../images/pricing/check-free.png);
}
.pricing-plan-des .pricing-item.free .brd{
  border-right: 1px solid #D6D6D6;
}
.pricing-plan-des{
  padding-top: 130px;
}
.pricing-plan-des .all-h,
.pricing-plan-des .all-p{
  color: #232323;
}

.features {
  /* margin-bottom: 80px; */
  background: #F9F9F9;
}
.features ul{
  margin: 0;
}
.features .all-p span{
  font-weight: 300;
}
.features h1{
  /* font-weight: 300; */
}
.features .nav{
  background: transparent;
}
.features .nav-tabs{
  border-bottom: 2px solid #F6F9FC;
}
.features .nav-tabs .nav-link{
  padding-left: 0;
  padding-right: 0;
}
.features .nav-tabs .nav-item.show .nav-link,
.features .nav-tabs .nav-link.active{
  border: 0;
  text-decoration: underline !important;
}
.features .nav-tabs .nav-link{
  font-size: 16px;
  font-weight: 500;

  line-height: 27px;
}
.features .nav-tabs .nav-link:hover{
  border: 0;
}
.features .nav-tabs .nav-link[href="#free"]{
    color: #30373A;
}
.features .nav-tabs .nav-link[href="#grow"]{
    color: #5BB9F9;
}
.features .nav-tabs .nav-link[href="#professional"]{
    color: #5CB863;
}
.features .nav-tabs .nav-link[href="#business"]{
    color: #A243D6;
}
.features .nav-tabs .nav-link.active{
  background: transparent !important;
}
.features .tab-content li{
  color: #30373A;
  line-height: 57px;
  padding: 0 17px;

}
.features .tab-content ul li span{
  width: 70px;
  /* display: block; */
}
.features .tab-content ul li{
  list-style: none;
  /* padding: 0; */
}
.features table tbody tr:nth-of-type(2n),
.features .tab-content ul li:nth-of-type(2n){
  background: #E8F5EB 0% 0% no-repeat padding-box;
}
.features table tbody tr{
  color: #30373A;
  line-height: 57px;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
}
.features table {
  width: 100%;
}
.features table thead tr th,
.features table tbody tr td{
  width: 16%;
}
.features table thead tr th:nth-of-type(1),
.features table tbody tr td:nth-of-type(1){
  width: auto;
}
.features table thead th,
.features table tbody td{
  text-align: center;
}
.features table thead tr th:nth-of-type(1),
.features table tbody tr td:nth-of-type(1){
  padding-left: 30px;
  text-align: left;
  font-weight: 500;
}
.features table thead tr th:nth-last-of-type(1),
.features table tbody tr td:nth-last-of-type(1){
  padding-right: 30px;
}
.features table thead th:nth-of-type(2){
  color: #30373A;
}
.features table thead th:nth-of-type(3){
  color: #5BB9F9;
}
.features table thead th:nth-of-type(4){
  color: #5CB863;
}
.features table thead th:nth-of-type(5){
  color: #A243D6;
}

.faq{
  padding-top: 60px;
  padding-bottom: 80px;
  background: transparent;
}
.faq>div{
  padding-left: 15px;
  padding-right: 15px;
}
.faq .all-p,
.faq .text-18{
  color: #232323;
}
.faq .card-header{
  background: #FEFEFE 0% 0% no-repeat padding-box;
  border: 0;

}
.faq .card{
background: transparent;
border: 0;
border-top: 1px solid #0000001A;

}
.faq .card-body{
  background: transparent;
  font-size: 16px;
  color: #232323;
  line-height: 24px;
  font-weight: 300;
  padding: 10px 0;

}
.faq .card-header button{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #232323;
  min-height: 41px;
  position: relative;
    padding: 0 0;
}

.faq .card-header button::after{
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #5CB863;
    font-size: 16px;
    font-weight: 900;
    transform-origin: center;
    transition: transform 0.5s;
}
.faq .card-header button[aria-expanded="true"]::after{
  transform: translateY(-50%) rotate(-180deg) ;
}
.faq .card{
  margin-bottom: 0;
}


.send-msg a{
  color: #5CB863;
  font-weight: 600;
}


.stars>div{
  width: 30px;
height: 30px;
margin: 2px;
  background: #01B479 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review .text-18.dd{
  color: #30373A;
}
.review .text-18.dd span{
  color: #959595;
}
.giveaway-hopper2 h2{
  color: #FEFEFE !important;
}
.pricing-btn2{
color: #FEFEFE;
font-size: 12px;
line-height: 16px;
font-weight: 300;
width: 48px;
height: 16px;
box-shadow: 0px 3px 6px #00000029;
border-radius: 172px;
display: block;
margin: auto;
border: 0;
}
.pricing-btn2.free{
background: transparent linear-gradient(180deg, #959595 0%, #727272 100%) 0% 0% no-repeat padding-box;
}
.pricing-btn2.grow{
background: transparent linear-gradient(180deg, #8FD2FF 0%, #5BB9F9 100%) 0% 0% no-repeat padding-box;
}
.pricing-btn2.professional{
background: transparent linear-gradient(180deg, #79D980 0%, #5CB863 100%) 0% 0% no-repeat padding-box;
}
.pricing-btn2.business{
background: transparent linear-gradient(180deg, #C365F6 0%, #A243D6 100%) 0% 0% no-repeat padding-box;
}
